Repository Infleqtion/client-superstaq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paaige, @richrines1, @vtomole, @singular-value, @stephanielee9, @teaguetomesh, @knsmith, @bharat-thotakura, @dowusu-antwi, @pgoiporia, @perlinm

remove redundant call
  cirq-superstaq/cirq_superstaq/job.py
Owners: @paaige, @richrines1, @vtomole

SuperstaQ -> Superstaq in docs
  qiskit-superstaq/qiskit_superstaq/superstaq_provider.py
Owners: @pgoiporia, @bharat-thotakura

clean up status handling in `css.Job` (#519)
  cirq-superstaq/cirq_superstaq/job.py
  cirq-superstaq/cirq_superstaq/job_test.py
  general-superstaq/general_superstaq/superstaq_exceptions.py
  general-superstaq/general_superstaq/superstaq_exceptions_test.py
Owners: @paaige, @richrines1, @vtomole

Update qiskit-superstaq/qiskit_superstaq/superstaq_provider.py
  qiskit-superstaq/qiskit_superstaq/superstaq_provider.py
Owners: @pgoiporia, @bharat-thotakura

docstring outlines
  qiskit-superstaq/qiskit_superstaq/custom_gates.py
Owners: @richrines1, @dowusu-antwi

format update
  qiskit-superstaq/qiskit_superstaq/custom_gates.py
Owners: @richrines1, @dowusu-antwi

Docstrings for ``superstaq_provider.py`` (#516)
  qiskit-superstaq/qiskit_superstaq/superstaq_provider.py
Owners: @pgoiporia, @bharat-thotakura

`PhaseCode` docstrings (#514)
  supermarq-benchmarks/supermarq/benchmarks/phase_code.py
Owners: @paaige, @richrines1, @vtomole

.github/CODEOWNERS:

* @paaige @richrines1 @vtomole

.github/* @vtomole @singular-value @stephanielee9
supermarq-benchmarks/* @teaguetomesh @knsmith
dev_tools/* @vtomole @singular-value @stephanielee9
docs/* @stephanielee9 @bharat-thotakura
docs/source/optimizations/ibm/* @knsmith @dowusu-antwi
qiskit-superstaq/qiskit_superstaq/daily_integration_test.py @vtomole @dowusu-antwi
qiskit-superstaq/qiskit_superstaq/custom_gates* @richrines1 @dowusu-antwi
qiskit-superstaq/qiskit_superstaq/superstaq_job* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/superstaq_backend* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/compiler_output* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/superstaq_provider* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/serialization* @richrines1 @paaige
general-superstaq/general_superstaq/user_config* @richrines1 @dowusu-antwi
general-superstaq/general_superstaq/finance* @bharat-thotakura
general-superstaq/general_superstaq/qubo* @bharat-thotakura
general-superstaq/general_superstaq/serialization* @richrines1 @dowusu-antwi
general-superstaq/general_superstaq/_version.py @vtomole @dowusu-antwi @richrines1 @singular-value @pgoiporia @paaige @stephanielee9 @knsmith @bharat-thotakura
general-superstaq/general_superstaq/logistics* @bharat-thotakura
general-superstaq/general_superstaq/check/* @richrines1 @perlinm
cirq-superstaq/cirq_superstaq/serialization*  @richrines1 @dowusu-antwi
cirq-superstaq/cirq_superstaq/service* @bharat-thotakura @richrines1
cirq-superstaq/cirq_superstaq/compiler_output* @bharat-thotakura @dowusu-antwi
cirq-superstaq/cirq_superstaq/ops/* @richrines1 @dowusu-antwi
