Repository Infleqtion/client-superstaq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paaige, @richrines1, @vtomole, @singular-value, @stephanielee9, @teaguetomesh, @knsmith, @bharat-thotakura, @dowusu-antwi, @pgoiporia, @perlinm

checking padding
  README.md
Owners: @paaige, @richrines1, @vtomole

Docstrings for `gss.logistics` (#506)
  general-superstaq/general_superstaq/logistics.py
Owners: @bharat-thotakura

remove padding
  README.md
Owners: @paaige, @richrines1, @vtomole

`BitCode` docstrings (#508)
  supermarq-benchmarks/supermarq/benchmarks/bit_code.py
Owners: @paaige, @richrines1, @vtomole

Update qiskit-superstaq/qiskit_superstaq/superstaq_job.py
  qiskit-superstaq/qiskit_superstaq/superstaq_job.py
Owners: @pgoiporia, @bharat-thotakura

Minor attribute addition. (#504)
  general-superstaq/general_superstaq/superstaq_exceptions.py
Owners: @paaige, @richrines1, @vtomole

Update cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
  cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
Owners: @richrines1, @dowusu-antwi

Update logos in readme and docs (#515)
  README.md
  docs/source/_static/logos/Infleqtion_logo.png
  docs/source/_static/logos/Infleqtion_logo_white.png
  docs/source/_static/logos/Superstaq_color.png
  docs/source/_static/logos/Superstaq_white.png
  docs/source/conf.py
Owners: @paaige, @richrines1, @vtomole

Update qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
  qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
Owners: @pgoiporia, @bharat-thotakura

Update qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
  qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
Owners: @pgoiporia, @bharat-thotakura

docstrings
  qiskit-superstaq/qiskit_superstaq/superstaq_provider.py
Owners: @pgoiporia, @bharat-thotakura

Update cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
  cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
Owners: @richrines1, @dowusu-antwi

Docs
  cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
Owners: @richrines1, @dowusu-antwi

move construct. args
  qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
Owners: @pgoiporia, @bharat-thotakura

Response
  cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
Owners: @richrines1, @dowusu-antwi

move construct. args
  qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
Owners: @pgoiporia, @bharat-thotakura

changes for consistency
  qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
Owners: @pgoiporia, @bharat-thotakura

wording + constructor docstring update
  qiskit-superstaq/qiskit_superstaq/custom_gates.py
Owners: @richrines1, @dowusu-antwi

formatting
  qiskit-superstaq/qiskit_superstaq/superstaq_provider.py
Owners: @pgoiporia, @bharat-thotakura

Add docstrings for qudit_gates.py in css
  cirq-superstaq/cirq_superstaq/ops/qudit_gates.py
Owners: @richrines1, @dowusu-antwi

changes for consistency
  qiskit-superstaq/qiskit_superstaq/superstaq_provider.py
Owners: @pgoiporia, @bharat-thotakura

assign cirq_superstaq to css, as in elsewhere in our codebase
  supermarq-benchmarks/examples/ghz_example.py
Owners: @paaige, @richrines1, @vtomole

Update dev_tools/locustfile.py
  dev_tools/locustfile.py
Owners: @vtomole, @singular-value, @stephanielee9

changes for consistency
  qiskit-superstaq/qiskit_superstaq/superstaq_provider.py
Owners: @pgoiporia, @bharat-thotakura

update custom_resolver docstring
  cirq-superstaq/cirq_superstaq/ops/qudit_gates.py
Owners: @richrines1, @dowusu-antwi

changes for consistency
  qiskit-superstaq/qiskit_superstaq/superstaq_provider.py
Owners: @pgoiporia, @bharat-thotakura

assign cirq_superstaq to css, as in elsewhere in our codebase (#518)
  supermarq-benchmarks/examples/ghz_example.py
Owners: @paaige, @richrines1, @vtomole

css.Job docstrings
  cirq-superstaq/cirq_superstaq/job.py
  cirq-superstaq/cirq_superstaq/job_test.py
Owners: @paaige, @richrines1, @vtomole

clean up status handling in `css.Job`
  cirq-superstaq/cirq_superstaq/job.py
  cirq-superstaq/cirq_superstaq/job_test.py
  general-superstaq/general_superstaq/superstaq_exceptions.py
  general-superstaq/general_superstaq/superstaq_exceptions_test.py
Owners: @paaige, @richrines1, @vtomole

revert unrelated changes
  cirq-superstaq/cirq_superstaq/job.py
Owners: @paaige, @richrines1, @vtomole

use timeouterror
  cirq-superstaq/cirq_superstaq/job.py
  cirq-superstaq/cirq_superstaq/job_test.py
Owners: @paaige, @richrines1, @vtomole

revert unrelated changes
  cirq-superstaq/cirq_superstaq/job.py
  cirq-superstaq/cirq_superstaq/job_test.py
Owners: @paaige, @richrines1, @vtomole

fix test
  cirq-superstaq/cirq_superstaq/job.py
Owners: @paaige, @richrines1, @vtomole

fix docstring
  cirq-superstaq/cirq_superstaq/job.py
Owners: @paaige, @richrines1, @vtomole

flake changes
  qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
Owners: @pgoiporia, @bharat-thotakura

edit/add docstrings to ``superstaq_job.py`` (#512)
  qiskit-superstaq/qiskit_superstaq/superstaq_job.py
Owners: @pgoiporia, @bharat-thotakura

qss backend docstrings (#507)
  qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
Owners: @pgoiporia, @bharat-thotakura

review comments
  qiskit-superstaq/qiskit_superstaq/superstaq_provider.py
Owners: @pgoiporia, @bharat-thotakura

flake
  qiskit-superstaq/qiskit_superstaq/superstaq_provider.py
Owners: @pgoiporia, @bharat-thotakura

Class docstring for `resource_estimate.py` (#511)
  general-superstaq/general_superstaq/resource_estimate.py
Owners: @paaige, @richrines1, @vtomole

.github/CODEOWNERS:

* @paaige @richrines1 @vtomole

.github/* @vtomole @singular-value @stephanielee9
supermarq-benchmarks/* @teaguetomesh @knsmith
dev_tools/* @vtomole @singular-value @stephanielee9
docs/* @stephanielee9 @bharat-thotakura
docs/source/optimizations/ibm/* @knsmith @dowusu-antwi
qiskit-superstaq/qiskit_superstaq/daily_integration_test.py @vtomole @dowusu-antwi
qiskit-superstaq/qiskit_superstaq/custom_gates* @richrines1 @dowusu-antwi
qiskit-superstaq/qiskit_superstaq/superstaq_job* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/superstaq_backend* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/compiler_output* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/superstaq_provider* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/serialization* @richrines1 @paaige
general-superstaq/general_superstaq/user_config* @richrines1 @dowusu-antwi
general-superstaq/general_superstaq/finance* @bharat-thotakura
general-superstaq/general_superstaq/qubo* @bharat-thotakura
general-superstaq/general_superstaq/serialization* @richrines1 @dowusu-antwi
general-superstaq/general_superstaq/_version.py @vtomole @dowusu-antwi @richrines1 @singular-value @pgoiporia @paaige @stephanielee9 @knsmith @bharat-thotakura
general-superstaq/general_superstaq/logistics* @bharat-thotakura
general-superstaq/general_superstaq/check/* @richrines1 @perlinm
cirq-superstaq/cirq_superstaq/serialization*  @richrines1 @dowusu-antwi
cirq-superstaq/cirq_superstaq/service* @bharat-thotakura @richrines1
cirq-superstaq/cirq_superstaq/compiler_output* @bharat-thotakura @dowusu-antwi
cirq-superstaq/cirq_superstaq/ops/* @richrines1 @dowusu-antwi
