Repository Infleqtion/client-superstaq, changes with the owners that .github/CODEOWNERS names for each.
All owners: @paaige, @richrines1, @vtomole, @singular-value, @stephanielee9, @teaguetomesh, @knsmith, @bharat-thotakura, @dowusu-antwi, @pgoiporia, @perlinm

.github/CODEOWNERS:

* @paaige @richrines1 @vtomole

.github/* @vtomole @singular-value @stephanielee9
supermarq-benchmarks/* @teaguetomesh @knsmith
dev_tools/* @vtomole @singular-value @stephanielee9
docs/* @stephanielee9 @bharat-thotakura
docs/source/optimizations/ibm/* @knsmith @dowusu-antwi
qiskit-superstaq/qiskit_superstaq/daily_integration_test.py @vtomole @dowusu-antwi
qiskit-superstaq/qiskit_superstaq/custom_gates* @richrines1 @dowusu-antwi
qiskit-superstaq/qiskit_superstaq/superstaq_job* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/superstaq_backend* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/compiler_output* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/superstaq_provider* @pgoiporia @bharat-thotakura
qiskit-superstaq/qiskit_superstaq/serialization* @richrines1 @paaige
general-superstaq/general_superstaq/user_config* @richrines1 @dowusu-antwi
general-superstaq/general_superstaq/finance* @bharat-thotakura
general-superstaq/general_superstaq/qubo* @bharat-thotakura
general-superstaq/general_superstaq/serialization* @richrines1 @dowusu-antwi
general-superstaq/general_superstaq/_version.py @vtomole @dowusu-antwi @richrines1 @singular-value @pgoiporia @paaige @stephanielee9 @knsmith @bharat-thotakura
general-superstaq/general_superstaq/logistics* @bharat-thotakura
general-superstaq/general_superstaq/check/* @richrines1 @perlinm
cirq-superstaq/cirq_superstaq/serialization*  @richrines1 @dowusu-antwi
cirq-superstaq/cirq_superstaq/service* @bharat-thotakura @richrines1
cirq-superstaq/cirq_superstaq/compiler_output* @bharat-thotakura @dowusu-antwi
cirq-superstaq/cirq_superstaq/ops/* @richrines1 @dowusu-antwi

format checks
  qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
Owners: @pgoiporia, @bharat-thotakura

updated docstrings
  supermarq-benchmarks/supermarq/benchmarks/bit_code.py
Owners: @paaige, @richrines1, @vtomole

changed to lowercase superstaq
  general-superstaq/general_superstaq/finance.py
  general-superstaq/general_superstaq/qubo.py
Owners: @bharat-thotakura

format
  supermarq-benchmarks/supermarq/benchmarks/bit_code.py
Owners: @paaige, @richrines1, @vtomole

formatting update
  general-superstaq/general_superstaq/finance.py
  general-superstaq/general_superstaq/qubo.py
Owners: @bharat-thotakura

update docstrings
  supermarq-benchmarks/supermarq/benchmarks/ghz.py
Owners: @paaige, @richrines1, @vtomole

minor wording update
  general-superstaq/general_superstaq/logistics.py
Owners: @bharat-thotakura

docstring for __init__
  general-superstaq/general_superstaq/finance.py
Owners: @bharat-thotakura

remove extra lines
  qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
Owners: @pgoiporia, @bharat-thotakura

nits
  qiskit-superstaq/qiskit_superstaq/compiler_output.py
Owners: @pgoiporia, @bharat-thotakura

`GHZ` docstrings (#510)
  supermarq-benchmarks/supermarq/benchmarks/ghz.py
Owners: @paaige, @richrines1, @vtomole

commit suggestions
  supermarq-benchmarks/supermarq/benchmarks/bit_code.py
Owners: @paaige, @richrines1, @vtomole

fix arg descriptions
  general-superstaq/general_superstaq/user_config.py
Owners: @richrines1, @dowusu-antwi

update banner
  README.md
  docs/source/_static/logos/Superstaq_readme_banner.png
Owners: @paaige, @richrines1, @vtomole

added args
  general-superstaq/general_superstaq/check/all_.py
  general-superstaq/general_superstaq/check/build_docs.py
  general-superstaq/general_superstaq/check/coverage_.py
  general-superstaq/general_superstaq/check/flake8_.py
  general-superstaq/general_superstaq/check/format_.py
  general-superstaq/general_superstaq/check/mypy_.py
  general-superstaq/general_superstaq/check/pylint_.py
  general-superstaq/general_superstaq/check/pytest_.py
  general-superstaq/general_superstaq/check/requirements.py
Owners: @richrines1, @perlinm

class docstring for resource_estimate
  general-superstaq/general_superstaq/resource_estimate.py
Owners: @paaige, @richrines1, @vtomole

`UserConfig` docstrings (#501)
  general-superstaq/general_superstaq/user_config.py
Owners: @richrines1, @dowusu-antwi

suggestions
  qiskit-superstaq/qiskit_superstaq/compiler_output.py
Owners: @pgoiporia, @bharat-thotakura

edit/add docstrings to superstaq_job.py
  qiskit-superstaq/qiskit_superstaq/superstaq_job.py
Owners: @pgoiporia, @bharat-thotakura

Docstrings start
  cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
Owners: @richrines1, @dowusu-antwi

nits+capitalization
  general-superstaq/general_superstaq/logistics.py
Owners: @bharat-thotakura

Re-add
  cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
Owners: @richrines1, @dowusu-antwi

update phase code docstrings
  supermarq-benchmarks/supermarq/benchmarks/phase_code.py
Owners: @paaige, @richrines1, @vtomole

wording update
  general-superstaq/general_superstaq/resource_estimate.py
Owners: @paaige, @richrines1, @vtomole

Revert exponents
  cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
Owners: @richrines1, @dowusu-antwi

update dark mode images and favicon for docs
  README.md
  docs/source/_static/logos/Infleqtion_logo.png
  docs/source/_static/logos/Superstaq_readme.png
  docs/source/_static/logos/Superstaq_readme_banner.png
  docs/source/conf.py
Owners: @paaige, @richrines1, @vtomole

fix for tests
  qiskit-superstaq/qiskit_superstaq/superstaq_job.py
Owners: @pgoiporia, @bharat-thotakura

`compiler_output` docstrings (#505)
  qiskit-superstaq/qiskit_superstaq/compiler_output.py
Owners: @pgoiporia, @bharat-thotakura

Update qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
  qiskit-superstaq/qiskit_superstaq/superstaq_backend.py
Owners: @pgoiporia, @bharat-thotakura

Nits
  cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
Owners: @richrines1, @dowusu-antwi

wording + capitalization update
  general-superstaq/general_superstaq/finance.py
  general-superstaq/general_superstaq/qubo.py
Owners: @bharat-thotakura

add Infleqtion logo
  README.md
Owners: @paaige, @richrines1, @vtomole

update logo styling
  README.md
  docs/source/_static/logos/Infleqtion_logo_white.png
Owners: @paaige, @richrines1, @vtomole

center logos
  README.md
Owners: @paaige, @richrines1, @vtomole

more linters
  cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
Owners: @richrines1, @dowusu-antwi

center logos
  README.md
Owners: @paaige, @richrines1, @vtomole

remaining capitalization + backticks
  general-superstaq/general_superstaq/logistics.py
Owners: @bharat-thotakura

align logos
  README.md
Owners: @paaige, @richrines1, @vtomole

Docstring update in `finance.py` & `qubo.py` (#509)
  general-superstaq/general_superstaq/finance.py
  general-superstaq/general_superstaq/qubo.py
Owners: @bharat-thotakura

Update cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
  cirq-superstaq/cirq_superstaq/ops/qubit_gates.py
Owners: @richrines1, @dowusu-antwi
